name: Update file list

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Generate file list
      run: |
        ls -1 | grep -v '^file_list\.txt$' | paste -sd '~' - > file_list.txt


    - name: Commit changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add file_list.txt
        git commit -m "Update file list" || echo "No changes to commit"

    - name: Push changes
      uses: ad-m/github-push-action@v0.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
